
/* Play Guess Pokedex Screnn.css */

.container-play-pokedex {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
    background: rgb(14, 20, 17);
    background: #121212;
    min-height: 100vh;
    color: white;
    font-family: 'Bangers', cursive;
    font-family: 'Shojumaru', cursive;
  }
  
  .section-play-pokedex {
    box-sizing: border-box;
    width: 94%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
    max-width: 1010px; 
  }
  
  
  .card-title {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: solid 2px crimson ;
    
  }
  
  .card-title h6 {
    box-sizing: border-box;
    color: #dfdbdb;
    font-family: 'Bangers', cursive;
    font-family: 'Shojumaru', cursive;
    /*font-size: 2.2rem;*/
  
    font-size: 12px; 
    text-shadow: 1px 1px 5px rgb(2, 2, 2);
  
    -webkit-text-stroke: 0.5px crimson;
    font-weight: 400;
    
  }
  
  .card-title img{
   height: 50%;
  }
  
  
  .play-pokedex-subtitle{
    padding: 20px 0;
    line-height: 1.25;
    text-align: left;
  }
  
  
  .play-pokedex-subtitle {
    font-family: 'Share Tech Mono', monospace;
    font-weight: 500;
    font-size: 15px;
  }
  
  .text-to-play {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 800;
    color: crimson;
  }
  
  .portada-img {
    position: relative;
    z-index: 20;
    
    width: 100%;
    height: max-content;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .portada-img img {
    width: 100%;  
    border-radius: 5px;
  }
  

  
  .position-img {
    position: absolute;
    top: -37%;
    left: -23%;
    bottom: 0;
    transform: scale(0.3);
    filter: brightness(2%);
  }
  
  
  .img-oculta {
    position: absolute;
    top: -37%;
    left: -78%;
    bottom: 0;
    transform: scale(0.3);
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.856));
    transition:  1300ms;
    background: transparent;
  }

  .confeti-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    display: none;
  }

  .confeti-image-isShow {
    display: initial;
    z-index: 9;
  }



    
  .img-active {
    left: -23%;
    transform: scale(0.3);
    transition:  1300ms
  }
  
  
  .play-pokemon-name {
    position: absolute; 
    top: -25%;
    left: 15%;
    font-size: 10px;
    font-weight: 900;
    text-transform: capitalize;
    color: #fffb00;
    text-shadow: 1px 0px 1px rgb(37, 37, 255);
    -webkit-text-stroke: 0.4px rgba(50, 53, 248, 0.863);
    transition:  1300ms; 
  }

  .play-pokemon-name-active  {
    top: 8%;
    left: 15%; 
    transition:  1400ms; 
  }


  
  .btn-send, .btn-img, .btn-eye {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    right: 0%;
    border: transparent;
    background: transparent;
    padding: 4px;
    cursor: pointer;
  }
  
  .play-btn-card i {
    font-size: 9px;
    color: rgb(255, 255, 255);
  }
  
  .play-btn-card {
    display: flex;
    gap: 2px;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: row-reverse;
    z-index: 9;
  }
  


  /* ======== geme Mode ======= */

  .play-pokedex__setting {
    background-color: #302b63;
    /*position: absolute;
    top: 0;
    left: 0;*/
    width: 100%;
    height: 100%;
    height: 340px;
    object-fit: cover;
    background: url('../../../img/bg-play-guess-start.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .play-pokedex__setting__option {
    outline: solid 2px  #000000;
    border: solid 1px  #ffffff;
    width: max-content;
    backdrop-filter: blur(2.5px);
    border-radius: 4px;
    padding: 4px 0;
  }
  
  .play-pokedex__setting__option__items {
    text-shadow: 0px 0px 5px black;
    font-size: 1rem;
    padding: 8px 17px 8px 10px;
    display: flex;
    gap: 6px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .play-pokedex__setting__option__items:hover {
    background-color: rgba(235, 232, 232, 0.356);
  }
  
  .play-pokedex__setting__option__items-plus {
    padding: 8px 32px 8px 32px;
  }
  
  .play-pokedex__setting__option__items__icon {
    font-size: 1rem;
  }
  
  .play-pokedex__setting__text {
    outline: solid 2px  #000000;
    border: solid 1px  #ffffff;
    padding: 8px 12px;
    text-align: left;
    text-shadow: 0px 0px 10px black;
    font-size: 1rem;
    width: min(90%, 370px);
    backdrop-filter: blur(2.5px);
    border-radius: 4px;
    box-sizing: border-box;
  }

  
  

  .play-pokedex__response-options {
    display: grid;
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
    width: 100%;
    box-sizing: unset;
    padding: 0;
    gap: 18px;
    margin: 22px auto;
  }
  
  .play-pokedex__response-options__items {
    border: solid 1px white;
    padding: 9px;
    border-radius: 5px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    text-transform: capitalize;
    cursor: pointer;
  }
  
  .play-pokedex__response-options__items-invalid {
    border: solid 1px crimson;
    box-shadow: 0px 0px 7px rgb(255, 24, 70);
  }
  .play-pokedex__response-options__items-valid {
    border: solid 1px #98ce4c;
    box-shadow: 0px 0px 7px #95ff00;
  }


  
  /* ========= form ======== */
  
  .form-guess {
    box-sizing: border-box;
    padding: 0;
    width: 70%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .form-guess-screnn-input {
    box-sizing: border-box;
    background: transparent;
    padding: 6px 8px;
    border: transparent;
    font-size: 12px;
    width: 100%;
    border-bottom: 1.5px solid rgb(255, 255, 255);
    color: white;
    transition: ease 1.2s;
  }

  .form-guess-screnn-input::placeholder {
    color: rgb(240, 240, 240);
    font-size: 11px;
  }

  .form-guess-screnn-input:focus {
    outline: none;
    border-bottom: 1.5px solid crimson;

  }

  .form-guess-screnn-input:focus +  .form-guess-btn-submit i {
    color: crimson;
    transition: ease 1.2s;
  }
  

  .form-guess-btn-submit {
    top: 0;
    right: 0;
    position: absolute;
    background: transparent;
    border: transparent;
    padding: 4px 8px;
    cursor: pointer;
  }

  .form-guess-btn-submit i {
    color: #ffffff;
    font-size: 14px;
    transition: ease 1.2s;
  }




  /* GO TO POKEDEX */


  .container-go-to-pokedex {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 7px;
  }

  .play-go-to-pokedex {
    font-family: 'Inconsolata', monospace;
    height: 21px;
    display: flex;
   align-items: center;
    gap: 5px;
  }

  .play-go-to-pokedex  p {
    color: white;
    text-shadow: 2px 2px 3px black;
    cursor: pointer;
  }


  .play-go-to-pokedex img {
    height: 95%;
    cursor: pointer;
    transition: ease 0.3s;
  }

  .play-go-to-pokedex img:hover {
    transform: scale(1.2);
    transition: ease 0.3s;
  }
  


  /* =========== Resss Correct ========== */


  .card-ress-correct-play {
    box-sizing: border-box;
    position: absolute;
    background: url('../../../img/bg-play-modal-correct.avif');
    top: 40%;
    right: -150px;
    transform: translateY(-40%);
    width: 142px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 5px;
    border-radius: 5px;
    text-shadow: 0px 0px  3px black;
    box-shadow: 0px 1px 2px 1px rgb(54, 54, 54);
    outline: solid 2px rgb(255, 255, 255);
    border: solid 3px rgb(0, 0, 0);
    transition: transform, right ease-in-out 1.3s;
  }
  
  .card-ress-correct-play_active {
    right: calc(50% - 72.5px);
    transition: transform, right ease-in-out 1.3s;
  }

  .card-ress-correct-play p {
    font-family: 'Inconsolata', monospace;
    font-family: 'Share Tech Mono', monospace;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 10px;
    font-size: .7rem;
  }
  
  .card-img-ress-correct {
    width: 50%;
  }
  
  .card-img-ress-correct img {
    width: 100%;
  }
  
  
  .ress-correct-icon {
    position: absolute;
    top: 5%;
    right: 6%;
    color: #93e91c;
  }
  .ress-correct-icon i {
    font-size: 1.25rem
  }


  /* ======== Ress Incorrect ======== */

  .card-ress-incorrect-play {
    box-sizing: border-box;
    position: absolute;
    background: url('../../../img/bg-play-modal-incorrect.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 45%;
    transform: translateY(-45%);
    right: -150px;
    width: 140px;
    padding: 10px 7px;
    border-radius: 5px;
    text-shadow: 0px 0px  3px black;
    box-shadow: 0px 1px 2px 1px rgb(54, 54, 54);
    z-index: 30;
    background-size: cover;
    outline: solid 2px rgb(255, 255, 255);
    border: solid 3px rgb(0, 0, 0);
    transition: transform, right ease-in-out 1.3s;
  }
  
  .card-ress-incorrect-play_active {
    transition: transform, right ease-in-out 1.3s;
    right: calc(50% - 72.5px);
  }

  .card-ress-incorrect-play p {
    font-family: 'Inconsolata', monospace;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: .7rem;
  }
  
  .card-img-ress-incorrect {
    width: 41%;
  }
  
  .card-img-ress-incorrect img {
    width: 100%;
  }
  
  
  .ress-incorrect-icon {
    position: absolute;
    top: 5%;
    right: 7%;
    color: 	crimson;  
  }
  .ress-incorrect-icon i {
    font-size: 1.25rem;
  }




  .text-incorrect {
    font-family: 'Shojumaru', cursive;
    font-family: 'Shojumaru', cursive;
 
    font-size: 11px;
    color: black;
    color: rgb(255, 251, 0);
    -webkit-text-stroke: 0.4px rgba(50, 53, 248, 0.863);
    margin-bottom: -15px;
  }

  .text-correct {
    font-family: 'Shojumaru', cursive;
    font-size: 10px;
    color: black;
    color: rgb(255, 230, 0);
    -webkit-text-stroke: 0.4px rgba(50, 53, 248, 0.863);
    margin-bottom: -15px;
  }



  .play-pokedex__shifts {
    position: absolute;
    top: 4px;
    left: 8px;
    font-family: 'Share Tech Mono', monospace;
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-shadow: 0px 0px 3px black;
    -webkit-text-stroke: 0.5px rgba(13, 13, 14, 0.863);
  }


/* ------- @Media ------- */


@media (min-width: 300px) {
  .play-pokemon-name {
    font-size: 11px;
  }
}


@media (min-width: 320px){

  .play-pokemon-name {
    font-size: 12px;
  }

  .play-pokemon-name-active {
    top: 9%;
  }

  
  .card-title {
    height: 55px;
    gap: 10px;
  }
  
  .card-title h6 {
    font-size: 13.3px;
  }
  
  .card-title img{
   height: 55%;
  }
  
  .play-pokedex-subtitle{
    line-height: 1.27;
    font-size: 15.5px;
  }
  
  .play-btn-card i {
    font-size: 10px;
  }


}


@media (min-width: 350px){

  .card-title h6 {
    font-size: 14px;
    font-weight: 400; 
  }

}



@media (min-width: 370px){

  .play-pokemon-name-active {
    font-size: 13px;
  }

  .play-pokemon-name-active {
    top: 8%;
  }

}



@media (min-width: 390px){
  
  .card-title {
    height: 58px;
  }

  .card-title h6 {
    font-size: 15px;
  }

  .card-title img{
   height: 55%;
  }

  .play-pokemon-name {
    font-size: 14px;
  }
  
  .form-guess {
    width: 60%;
    margin: 15px auto;
  }

}



@media (min-width: 400px){

  .play-pokemon-name {
    font-size: 15px;
  }

  .card-title h6 {
    font-size: 16px;
  }

  .form-guess {
    width: 60%;
  }

  .form-guess-btn-submit i {
    font-size: 15px;
  }

  .play-btn-card i {
    font-size: 11px;
  }

  .text-incorrect {
    font-size: 12px;
  }

  .text-incorrect {
    font-size: 12px;
  }

}


@media (min-width: 425px){

  .play-pokedex-subtitle{
    font-size: 17px;
  }


  .container-go-to-pokedex {
    margin-top: 7px;
  }

  .play-go-to-pokedex {
    height: 22px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
  }

  .play-go-to-pokedex img {
    height: 96%;
  }


}

@media (min-width: 460px){

  .play-pokemon-name{
    font-size: 16px;
  }

  .card-title h6 {
    font-size: 17px;
  }

  .form-guess {
    width: 55%;
  }

  .play-pokedex__shifts {
    top: 7px;
    left: 15px;
    font-size: 1.3rem;
  }

}


@media (min-width: 520px){

  .card-img-ress-correct {
    width: 60%;
  }
  


  .play-pokemon-name{
    font-size: 17px;
  }

  .card-title h6 {
    font-size: 18px;
  }

  .play-btn-card i {
    font-size: 13px;
  }

}



@media (min-width: 550px){

  .card-ress-incorrect-play p{
    line-height: 1.3 ;
  }

  .play-pokemon-name {
    font-size: 19px;
  } 

  .play-pokedex-subtitle{
    font-size: 18px;
    line-height: 1.4;
  }

  .form-guess {
    width: 50%;
  }

  .form-guess-screnn-input::placeholder {
    font-size: 13px;
  }

  .text-correct {
    font-size: 13px;
  }

  .text-incorrect {
    font-size: 13px;
  }

}


@media (min-width: 575px){






  .play-pokemon-name {
    font-size: 20px;
  }

  .play-pokedex-subtitle{
    font-size: 19px;
  }

  .play-btn-card {
    gap: 4px;
  }

  .play-btn-card i {
    font-size: 13.5px;
  }

}



@media (min-width: 600px){

  .card-title h6 {
    font-size: 20px;
  }

  .card-title img {
    height: 60%;
  }

  .play-text-subtitle {
    font-size: 20px;
  }


  
  .play-pokedex__setting {
    height: 380px
  }

  .play-pokedex__setting__text {
    width: min(82%, 460px);
  }


  
  
  .card-ress-correct-play {
    top: 50%;
    transform: translateY(-81%);
    width: 175px;
    right: -185px;
  }
  
  .card-ress-correct-play_active {
    right: calc(29% - 72.5px);
  }

  .card-ress-correct-play p{
    font-size: 14px;
    font-size: .8rem;
  }
  
  
  .card-img-ress-correct {
      width: 62%;
  }

  .ress-correct-icon {
    top: 6%;
    right: 6%;
  }
  
  .ress-correct-icon i {
    font-size: 1.4rem;
  }
  

  .card-ress-incorrect-play {
    right: -178px;
    width: 175px;
  }
  
  .card-ress-incorrect-play_active {
    right: calc(50% - 90.5px);
  }
  
  
 
  
  .card-ress-incorrect-play p {
    font-size: .8rem
  }
  
  .ress-incorrect-icon {
    top: 7%;
    right: 9%;
  }

  .ress-incorrect-icon i {
    font-size: 1.3rem;
  }


  .section-play-pokedex {
    width: 80%;
  }


  .form-guess-screnn-input {
    font-size: 14px;
  }

  .play-btn-card {
    padding: 2px 2.7px;
    gap: 5px;
  }

  .play-btn-card i {
    font-size: 14px;
  }

  .form-guess-screnn-input::placeholder {
    font-size: 14.5px;
  }

  .form-guess-btn-submit i {
    font-size: 16.5px;
  }
  
  .text-incorrect {
    font-size: 15px;
  }

  .text-correct {
    font-size: 14px;
  }



  .container-go-to-pokedex {
    margin-top: 5px;
  }

  .play-go-to-pokedex {
    height: 25px;
    display: flex;
    gap: 5px;
    font-family: 900;
  }

  .play-go-to-pokedex  p {
    font-size: 21px;
  }

  .play-go-to-pokedex img {
    height: 96%;
  }


  
  .play-pokedex__shifts {
    top: 10px;
    left: 20px;
    font-size: 1.5rem;
  }


}





@media (min-width: 820px){

  
  .card-title  {
    height: 62px;
  }
  .card-title h6 {
    font-size: 24px;
  }

  .play-text-subtitle {
    font-size: 21px;
  }

  .section-play-pokedex {
    width: 70%;
  }


 
  
  .play-pokedex__setting {
    height: 420px
  }

  .play-pokedex__setting__text {
    width: min(82%, 460px);
  }
  
  .play-pokedex__setting__option__items__icon {
    font-size: 1.1rem;
  }

  .play-pokedex__setting__option__items {
    font-size: 1.1rem;
    gap: 9px;
    padding: 10px 22px 10px 16px;
  }

  .play-pokedex__setting__option__items-plus {
    padding: 9px 38px 9px 38px;
  }

  .play-pokedex__setting__text {
    font-size: 1.1rem;
    padding: 12px 15px;
  }


  
  .play-pokedex__response-options {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    gap: 20px;
  }

  .play-pokedex__response-options {
    margin-top: 30px;
  }

  .play-pokedex__response-options__items {
    font-weight: 600;
    padding: 11px;
  }

  .card-ress-correct-play {
    width: 190px;
    right: -200px
  }

  .card-ress-correct-play_active {
    right: calc(28% - 72.5px);
  }

  .card-ress-correct-play p {
    font-size: .85rem;
  }

  .ress-correct-icon i {
    font-size: 1.5rem
  }

  

 
  .ress-incorrect-icon {
    top: 9%;
    right: 10%
  }


  .play-pokedex__shifts {
    top: 10px;
    left: 20px;
    font-size: 1.6rem;
  }

}


@media (min-width: 980px){

  
  .card-title  {
    height: 66px;
  }

  .card-title h6 {
    font-size: 26px;
  }

  .play-pokedex-subtitle {
    padding: 25px 0;
  }

  .play-text-subtitle {
    font-size: 21.5px;
  }


  .section-play-pokedex {
    width: 66%;
  }

  .play-btn-card i {
    font-size: 18px;
  }

  .play-pokemon-name {
    font-size: 22px;
  }

  .card-ress-correct-play {
    padding: 11px 8px;
    transform: translateY(-78%);
  }
 

  .card-ress-correct-play p {
    font-size: .9rem;
  }

  

  .card-ress-incorrect-play {
    right: -192px;
    width: 185px;
    padding: 15px 10px;
  }
  
  .card-ress-incorrect-play_active {
    right: calc(50% - 95.5px);
  }

  .card-ress-incorrect-play p {
    font-size: .9rem;
  }

  .card-img-ress-incorrect {
    width: 46%;
  }

  .ress-incorrect-icon i {
    font-size: 1.5rem;
  }



  .container-go-to-pokedex {
    margin-top: 6.5px;
  }

  .play-go-to-pokedex {
    height: 27px;
    gap: 6px;
  }

  .play-go-to-pokedex  p {
    font-size: 23px;
  }


  .play-pokedex__shifts {
    top: 11px;
    left: 20px;
    font-size: 1.7rem;
  }




  .play-pokedex__setting {
    height: 450px
  }
  
  .play-pokedex__setting__option__items__icon {
    font-size: 1.2rem;
  }
  
  .play-pokedex__setting__option__items {
    font-size: 1.2rem;
  }

  .play-pokedex__setting__text {
    font-size: 1.2rem;
    width: 480px
  }






}


@media (min-width: 1200px){

  
  .card-title  {
    height: 70px;
  }

  .card-title h6 {
    font-size: 28px;
  }

  .play-pokedex-subtitle {
    padding: 25px 0;
  }

  .play-text-subtitle {
    font-size: 22px;
  }


  .section-play-pokedex {
    width: 60%;
  }

  .play-btn-card i {
    font-size: 19px;
  }

  .play-pokemon-name {
    font-size: 25px;
  }




  .play-pokedex__setting {
    gap: 45px;
  }

  .play-pokedex__setting {
    height: 550px
  }
  
  .play-pokedex__setting__option__items {
    font-size: 1.3rem;
    padding: 15px 35px 15px 26px;
    gap: 10px;
    font-weight: 900;
  }
  .play-pokedex__setting__option__items-plus {
    padding: 12px 55px 12px 55px;
  }
  
  .play-pokedex__setting__option__items__icon {
    font-size: 1.3rem;
  }
  
  .play-pokedex__setting__text {
    font-size: 1.3rem;
    width: 550px;
    padding: 15px 18px;
    font-weight: 900;
  }


  

  .play-pokedex__response-options {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    gap: 23px 30px;
  }

  .play-pokedex__response-options {
    margin-top: 36px;
  }


  .play-pokedex__response-options__items {
    padding: 12px;
    font-size: 1.1rem;
  }


  .card-ress-correct-play {
    padding: 15px 11px;
    transform: translateY(-78%);
    width: 230px;
    right: -240px;
    border: solid 4px rgb(0, 0, 0);
    outline: solid 3px rgb(255, 255, 255)
  }
  
  .card-ress-correct-play_active {
    right: calc(25.5% - 72.5px);
  }
  

  .card-img-ress-correct {
    margin-bottom: 3px;
  }

  .card-ress-correct-play p {
    font-size: 1rem;
  }
  
  .ress-correct-icon i {
    font-size: 1.75rem;
  }


  .card-ress-incorrect-play {
    right: -238px;
    width: 230px;
    border: solid 4px rgb(0, 0, 0);
    outline: solid 3px rgb(255, 255, 255)

  }
  
  .card-ress-incorrect-play_active {
    right: calc(50% - 120.5px);
  }

  .card-ress-incorrect-play p {
    font-size: 1rem;
  }

  .card-img-ress-incorrect {
    width: 48%;
  }

  .ress-incorrect-icon i {
    font-size: 1.9rem;
  }



  .container-go-to-pokedex {
    margin-top: 7px;
  }

  .play-go-to-pokedex {
    height: 31px;
    gap: 6px;
  }

  .play-go-to-pokedex  p {
    font-size: 26px;
  }


  .play-pokedex__shifts {
    top: 11px;
    left: 20px;
    font-size: 1.9rem;
  }


}




@media (min-width: 1320px){

  .card-title {
    height: 73px;
  }

  .play-pokedex-subtitle {
    padding: 27px 0;
  }

}



@media (min-width: 1385px){

  .section-play-pokedex {
    width: 58%;
  }

}




@media (min-width: 1490px){

  .card-title {
    gap: 20px;
  }

  .card-ress-correct-play p {
   font-size: 1.1rem;
  }

  .card-img-ress-correct {
    width: 70%;
  }


  .card-ress-incorrect-play p {
    font-size: 1.1rem;
  }

  .form-guess-screnn-input {
    font-size: 18px;
  }

  .form-guess-screnn-input::placeholder {
    font-size: 17px;
  }

  .form-guess {
    margin: 20px auto;
  }


  .form-guess-btn-submit i {
    font-size: 20px;
  }


  .text-incorrect {
    font-size: 1.2rem
  }

  .text-correct {
    font-size: 1.2rem
  }

}


@media (min-width: 1620px){

  .card-title {
    gap: 30px;
  }
  
  .container-go-to-pokedex {
    margin-top: 7px;
  }

  .play-go-to-pokedex {
    height: 34px;
    gap: 6px;
  }

  .play-go-to-pokedex  p {
    font-size: 28px;
  }
 

}

@media (min-width: 1690px) {

  .section-play-pokedex {
    padding-bottom: 120px; 
  }

  .container-play-pokedex {
    min-height: calc(100vh - 226.798px);
  }
}

